@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.imdb-badge::before {
  content: "IMDb";
  color: #f0d25c;
  position: relative;
  font-weight: 500;
  padding-right: 4px;
  font-size: 10px;
  line-height: 1;
}

.lim-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

.effect-fade-in {
  animation: fadeInUp 0.5s ease-out forwards;
}

.hero-behind::before {
  position: absolute;
  background-size: cover;
  content: "";
  opacity: 0.5;
  top: 0;
  left: -120px;
  width: 100%;
  height: 100%;
  background-image: url(https://www.rophim.me/images/event_304/behind-hero.webp);
  background-position: top;
  z-index: 2;
}

.collection-anime::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url(https://www.rophim.me/images/dotted.png);
  background-repeat: repeat;
  opacity: 0.2;
  z-index: 1;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
